<!DOCTYPE html>
<html>
  <head>
    <title>WritenocerosV0</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Libre+Baskerville|Slabo+27px" rel="stylesheet">
  </head>
  <body>
    <header class="site__header grid--flush">
      <a href="/">
        <nav class="site__header-nav grid__cell 1/7">
          Home
        </nav>
      </a>
      <a href="/about">
        <nav class="site__header-nav grid__cell 1/7">
          About Us
        </nav>
      </a>
      <a href="/philosophy">
        <nav class="site__header-nav grid__cell 1/7">
          Philosophy
        </nav>
      </a>
      <a href="/services">
        <nav class="site__header-nav grid__cell 1/7">
          Services
        </nav>
      </a>
      <a href="/blog">
        <nav class="site__header-nav grid__cell 1/7">
          Blog
        </nav>
      </a>
      <a href="/resources">
        <nav class="site__header-nav grid__cell 1/7">
          Resources
        </nav>
      </a>
      <a href="/contact">
        <nav class="site__header-nav grid__cell 1/7">
          Contact
        </nav>
      </a>
    </header>
    <%= yield %>
    <script type="text/javascript">
      $( "nav:contains('<%= @active_nav %>')" ).addClass("site__header-nav-active");
    </script>
  </body>
</html>
